[submodule "LazyList"]
	path = LazyList
	url = https://github.com/adamsp/LazyList.git
[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = git://github.com/JakeWharton/ActionBarSherlock.git
[submodule "SlidingMenu"]
	path = SlidingMenu
	url = https://github.com/adamsp/SlidingMenu.git
[submodule "AntipodalWall"]
	path = AntipodalWall
	url = https://github.com/adamsp/AntipodalWall.git
[submodule "android-ColorPickerPreference"]
	path = android-ColorPickerPreference
	url = git://github.com/attenzione/android-ColorPickerPreference.git
