[submodule "LazyList"]
	path = LazyList
	url = https://github.com/adamsp/LazyList.git
[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = git://github.com/adamsp/ActionBarSherlock.git
[submodule "StaggeredGridView"]
	path = StaggeredGridView
	url = git://github.com/maurycyw/StaggeredGridView.git
